header(class="header")
    div(class="container")
        div(class="header-inner")
            ul(class="menu")
                li(class="menu__item")
                    a(href="/" class="menu__link")
                        span Поездки
            a(href="/" class="login")
                span(class="login__inner")
                    span(class="login__name")
                        | Заболоцкий К.О
                    span(class="login__icon")
                        svg
                            use(xlink:href="img/sprites/sprite.svg#logout")