div(class="container")
    div(class="title")
        h1(class="title__value") Мои поездки
        div(class="title__button")
            button(class="btn btn--blue")
                span(class="btn__icon")
                    svg
                        use(xlink:href="img/sprites/sprite.svg#plus")
                span Оформить поездку
    div(class="settings")
        div(class="settings__left")
            div(class="settings__col")
                div(class="settings__period")
                    div(class="settings__period-item")
                        span(class="settings__period-label") Период с:
                        div(class="settings__input settings__period-input")
                            input(type="text" class="form-input form-input--period form-input--active" name="date1" placeholder="Выбрать..." value="22.02.2024")
                            span(class="settings__input-icon")
                                svg
                                    use(xlink:href="img/sprites/sprite.svg#calendar")
                            span(class="settings__input-delete")
                                svg
                                    use(xlink:href="img/sprites/sprite.svg#close")
                    div(class="settings__period-item")
                        span(class="settings__period-label") по:
                        div(class="settings__input settings__period-input")
                            input(type="text" class="form-input form-input--period" name="date2" placeholder="Выбрать...")
                            span(class="settings__input-icon")
                                svg
                                    use(xlink:href="img/sprites/sprite.svg#calendar")
            div(class="settings__col")
                div(class="settings__input settings__search-input")
                    input(type="text" class="form-input form-input--search" name="search" placeholder="Поиск...")
                    span(class="settings__input-icon")
                        svg
                            use(xlink:href="img/sprites/sprite.svg#search")
            div(class="settings__col")
                span(class="settings__clear")
                    span(class="settings__clear-icon")
                        svg
                            use(xlink:href="img/sprites/sprite.svg#clear")
                    span Сбросить все
        div(class="settings__right")
            div(class="checkbox")
                input(type="checkbox" name="check" id="check")
                label(for="check")
                    span(class="checkbox__box")
                    | Показать архивные поездки
    div(class="line")
        div(class="line__inner")
    div(class="list")
        div(class="list__scroll")
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000115
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва, Ярославль, Ижевск, Владимир
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000117
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000074
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Кременчуг-Константиновское, Петропавловск-Камчатский, Новосибирск, Волгоград
                        div(class="help")
                            span(class="help__icon")
                                svg
                                    use(xlink:href="img/sprites/sprite.svg#help")
                            div(class="help__content")
                                | Кременчуг-Константиновское, Петропавловск-Камчатский, Новосибирск, Волгоград, Саратов
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000115
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва, Ярославль, Ижевск, Владимир
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000211
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва, Ярославль, Ижевск, Владимир
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000118
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва, Ярославль, Ижевск, Владимир
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000119
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва, Ярославль, Ижевск, Владимир
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000120
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва, Ярославль, Ижевск, Владимир
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000133
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва, Ярославль, Ижевск, Владимир
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000115
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва, Ярославль, Ижевск, Владимир
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы
            div(class="card")
                div(class="card__col")
                    span(class="card__label") № поездки
                    span(class="card__number") 000117
                div(class="card__col")
                    span(class="card__label") Дата поездки
                    div(class="card__dynamic")
                        span(class="card__value") 22.02.2024 - 27.02.2024
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, план
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col card__col--right")
                    span(class="card__label") Сумма, факт
                    div(class="card__dynamic")
                        span(class="card__value") 29 400,00
                div(class="card__col")
                    span(class="card__label") Город
                    div(class="card__dynamic")
                        span(class="card__value card__value--max-width") Москва
                div(class="card__col card__col--center")
                    span(class="card__label") Статус
                    span(class="status status--doc") Документы